<%- include('../pages/header') %>

<div class="ui comments">
    <h3 class="ui dividing header">Commentaires de <%= message.user %></h3>
        <div class="comment">
            <div class="content">
                <div class="metadata">
                    <div class="date">
                    <%= message.created_at.fromNow() %>
                    </div>
                </div>
                <div class="test"><a href="/message/<%= message.id %>"><%= message.content %></a></div>
            </div>
        </div>
</div>

<%- include('../pages/footer') %>